*{
  outline: none !important
}

.wrapper-calendar{
  margin:1rem;
  padding: .5rem;
  border: solid 1px #eaeaea;
  box-shadow: 0 0 10px #e4e4e4;
}

div.calendar {
    text-align: center;
    width: 90%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
  }

  li {
    padding: 1.25rem;
    font-size: 1.5ch;
    cursor: pointer;
  }
  li:hover{
    font-weight: 600;
  }
  h2 {
    margin-bottom: 4px;
    padding: 0;
  }

  .first-day {
    grid-column-start: var(--first-day-start, 0);
  }

  .day-name {
    background: #eee;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
  }

  .header-calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .header-calendar h1 {
    width: 100%;
    font-size: 13px;
  }

  .header-calendar button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
  }

  li.red {
    background-color: red;
  }

  li.green {
    background-color: green;
  }

  li.yellow {
    background-color: yellow;
  }
