<h1>Calendario</h1>
<div class="wrapper-calendar calendar">
	<div class="header-calendar">
		<div>
			<button (click)="changeMonth(-1)" class="btn-prev">Anterior</button>
		</div>
		<h1>{{ showMon }}</h1>
		<div>
			<button (click)="changeMonth(1)" class="btn-next">Siguiente</button>
		</div>
	</div>
	<ol>
		<li *ngFor="let day of week" class="day-name">{{day | slice:0:3}}</li>

    <li *ngFor="let day of monthSelect;let first = first" (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'" data-bs-toggle="modal" data-bs-target="#exampleModal">
			<span>
        {{day?.value}}
        <li *ngFor="let item of day?.redmi" [ngClass]="item.color">{{item.note}}</li>
      </span>

		</li>
	</ol>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recordatorio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" autocomplete="off">
          <div class="mb-3">
            <input type="hidden" class="form-control" id="text1" placeholder="Value 1"  minlength="4" maxlength="30" formControlName="day" required>
          </div>
          <div class="mb-3">
            <label for="text1" class="form-label">Recordatorio</label>
            <input type="text" class="form-control" id="text1" placeholder="Recordatorio"  minlength="4" maxlength="30" formControlName="reminder" required>
          </div>
          <div class="mb-3">
            <label for="text1" class="form-label">Hora</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="hour">
              <option *ngFor="let item of hours" [value]="item">{{item}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="text1" class="form-label">Ciudad</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="city">
              <option *ngFor="let item of cities" [value]="item">{{item}}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="text1" class="form-label">Color</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="color">
              <option *ngFor="let item of colors" [value]="item">{{item}}</option>
            </select>
          </div>


        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" (click)="deleteReminder()">Eliminar recordatorios</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="newReminder()" [disabled]="formGroup.invalid">Crear recordatorio</button>
      </div>
    </div>
  </div>
</div>

